<mat-toolbar color="primary">
  <span>Weather Tracker</span>
  <span class="toolbar-spacer"></span>
  <mat-radio-group aria-label="Select a temperature unit" #group="matRadioGroup"
                   [value]="selectedTempUnit" (change)="onChange(group.value)">
    <mat-radio-button [value]="eUnits.Celsius">Celsius</mat-radio-button>
    <mat-radio-button [value]="eUnits.Fahrenheit">Fahrenheit</mat-radio-button>
  </mat-radio-group>
  <button mat-raised-button color="accent" (click)="downloadChart()">Download chart</button>
</mat-toolbar>

<app-weather-chart id="myDiagram" [model]="model" ></app-weather-chart>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Details:
    </mat-panel-title>
    <mat-panel-description>
      This is a daily details about weather in Lviv for a week
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-card class="card">
    <mat-card-content>
      <ng-container *ngIf="forecast == null || forecast.length == 0">
        <mat-progress-spinner color="warn" mode="indeterminate"></mat-progress-spinner>
      </ng-container>
      <ng-container *ngFor="let date of forecast.slice(0, 7)" >
        <div class="list-container">
        <span>
          {{date.date*1000 | date}} : average day temperature - {{date.temperature}} {{selectedTempUnit === eUnits.Celsius ? 'C' : 'F'}}
      </span>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</mat-expansion-panel>
